/* Styles for our gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.gallery-item p {
    font-size: 14px;
    color: #333;
}

button {
    background-color: #61aefb;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}
/* if there arent any pics yet! */
.no-images-message {
    text-align: center;
    font-size: 18px;
    color: #61aefb;
    margin-top: 20px;
    opacity: 0.8;
}

